<div class="boton">
        <span class="span1" matTooltip="Listado"><button mat-raised-button routerLink="/servicios"><mat-icon>keyboard_backspace</mat-icon> Volver</button></span>
        <div class="separador"></div>
         
    </div>

<div class="ctn">
  <!--  <mat-card class="card">!-->
  <h3 class="title">
      Nuevo Servicio
  </h3>
  <!--  <selec>!-->
  <div class="select">
      <mat-form-field class="valor inputs">
          <mat-select placeholder="Seleccione el tipo servicio ">
              <mat-option *ngFor="let filtro of filtro" [value]="filtro.value">
                  {{ filtro.viewValue }}
              </mat-option>
          </mat-select>
      </mat-form-field>
  </div>
  <!--  <texto>!-->
      
  <mat-form-field class="example-full-width inputs">
      <textarea matInput placeholder="Nombre del servicio" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad distinctio exercitationem officiis sequi</textarea>
  </mat-form-field>
  <mat-form-field class="example-full-width inputs">
      <input matInput placeholder="descripcion del servicio" value="trenzado">
  </mat-form-field>
  <mat-form-field class="example-full-width inputs">
        <input matInput placeholder="garantia del servicio" value="tres dias ">
    </mat-form-field>

  <!--  <selec insumo utilizado>!-->
  <mat-form-field class="valor inputs">
      <mat-select placeholder="Insumos utilizados" [(ngModel)]="insumoSeleccionados" multiple>
          <mat-select-trigger>
              {{insumoSeleccionados ? insumoSeleccionados[0] : ''}}
              <span *ngIf="insumoSeleccionados.length > 1">
                          (+{{insumoSeleccionados.length - 1}} otros)
                      </span>
          </mat-select-trigger>
          <mat-option color="accent" *ngFor="let ins of insumo" [value]="ins">{{ins}}</mat-option>
      </mat-select>
  </mat-form-field>
  
  <mat-form-field class="demo-chip-list inputs">
      <mat-chip-list #chipList>
          <mat-chip *ngFor="let insumo of insumos" [selectable]="selectable" [removable]="removable" (remove)="remove(insumo)">
              {{insumo.name}}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <mat-chip *ngFor="let ins of insumoSeleccionados" [selectable]="selectable" [removable]="removable" (remove)="remove(ins)">
              {{ins}}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input placeholder="Insumos" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)" />
      </mat-chip-list>
      </mat-form-field>
       <!--  <imagen>!-->
      <mat-form-field class="example-full-width inputs">   
      <input matInput  placeholder="Imagen:"  > 
      </mat-form-field>
  
  <!--</mat-card>!-->
</div>
<!--  <boton>!-->
    <div class="btn-fin">
      
        <div style="padding-top: 5px; width:95%; display:flex; justify-content: flex-end;">
              <button mat-raised-button color="accent"routerLink="/dato" class="c-white btn">Siguiente</button>
           </div>
  
    </div>