<div class="selectFilter">
    <!--<mat-form-field class="valor">
        <mat-select placeholder="Empleados" [(ngModel)]="empleadosSeleccionados" multiple>
            <mat-select-trigger>
                {{empleadosSeleccionados ? empleadosSeleccionados[0] : ''}}
                <span *ngIf="empleadosSeleccionados.length > 1">
                    (+{{empleadosSeleccionados.length - 1}} otros)
                </span>
            </mat-select-trigger>
            <mat-option color="accent" *ngFor="let empleado of empleados" [value]="empleado">{{empleado}}</mat-option>
        </mat-select>
    </mat-form-field>-->
    <mat-form-field class="fecha valor">
        <input matInput [matDatepicker]="picker" placeholder="Fecha de inicio de la búsqueda">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="fecha valor">
        <input matInput [matDatepicker]="pickerEnd" placeholder="Fecha de fin de la búsqueda">
        <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
        <mat-datepicker #pickerEnd></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="valor">
        <mat-select placeholder="Clientes" [(ngModel)]="clientesSeleccionados" multiple>
            <mat-select-trigger>
                {{clientesSeleccionados ? clientesSeleccionados[0] : ''}}
                <span *ngIf="clientesSeleccionados.length > 1">
                  (+{{clientesSeleccionados.length - 1}} otros)
              </span>
            </mat-select-trigger>
            <mat-option color="accent" *ngFor="let empleado of empleados" [value]="empleado">{{empleado}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field class="valor">
        <mat-select placeholder="Servicios" [(ngModel)]="servicioSeleccionados" multiple>
            <mat-select-trigger>
                {{servicioSeleccionados ? servicioSeleccionados[0] : ''}}
                <span *ngIf="servicioSeleccionados.length > 1">
                (+{{servicioSeleccionados.length - 1}} otros)
            </span>
            </mat-select-trigger>
            <mat-option color="accent" *ngFor="let servicio of filtroServicio" [value]="servicio.id">
                {{servicio.tipo_servicio}} {{servicio.nombre}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field class="valor">
        <mat-select [(ngModel)]="TipoRespSolicSelec" placeholder="Tipo de respuesta solicitud" class="letra">
            <mat-option *ngFor="let filtroTipo of respSolic" [value]="filtroTipo.id">
                {{ filtroTipo.nombre }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field class="valor">
        <mat-select [(ngModel)]="TipoRespPresupSelec" placeholder="Tipo de respuesta presupuesto" class="letra">
            <mat-option *ngFor="let filtroTipo of respPresup" [value]="filtroTipo.id">
                {{ filtroTipo.nombre }}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>


<div class="tabla">
    <mat-table #table [dataSource]="dataSource" matSort>

        <!-- Telefono column -->
        <ng-container matColumnDef="cliente">
            <mat-header-cell style="padding:5px;" *matHeaderCellDef mat-sort-header>
                <h3>Cliente</h3>
            </mat-header-cell>
            <mat-cell style="padding:5px;" *matCellDef="let element"> {{element.cliente}} </mat-cell>
        </ng-container>
        <!-- Telefono column -->
        <ng-container matColumnDef="fecha">
            <mat-header-cell style="padding:5px;" *matHeaderCellDef mat-sort-header>
                <h3>Fecha</h3>
            </mat-header-cell>
            <mat-cell style="padding:5px;" *matCellDef="let element"> {{element.fecha}} </mat-cell>
        </ng-container>

        <!-- Telefono column -->
        <ng-container matColumnDef="servicio">
            <mat-header-cell style="padding:5px;" *matHeaderCellDef mat-sort-header>
                <h3>Servicios</h3>
            </mat-header-cell>
            <mat-cell style="padding:5px;" *matCellDef="let element"> {{element.servicio}} </mat-cell>
        </ng-container>

        <!-- Telefono column -->
        <ng-container matColumnDef="empleado">
            <mat-header-cell style="padding:5px;" *matHeaderCellDef mat-sort-header>
                <h3>Empleados solicitados</h3>
            </mat-header-cell>
            <mat-cell style="padding:5px;" *matCellDef="let element"> {{element.empleado}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="tipoRS">
            <mat-header-cell style="padding:5px;" *matHeaderCellDef mat-sort-header>
                <h3>Tipo de respuesta Solicitud</h3>
            </mat-header-cell>
            <mat-cell style="padding:5px;" *matCellDef="let element"> {{element.tipoRS}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="respS">
            <mat-header-cell style="padding:5px;" *matHeaderCellDef mat-sort-header>
                <h3>Respuesta de Solicitud</h3>
            </mat-header-cell>
            <mat-cell style="padding:5px;" *matCellDef="let element"> {{element.respS}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="tipoRP">
            <mat-header-cell style="padding:5px;" *matHeaderCellDef mat-sort-header>
                <h3>Tipo de respuesta presupuesto</h3>
            </mat-header-cell>
            <mat-cell style="padding:5px;" *matCellDef="let element"> {{element.tipoRP}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="respP">
            <mat-header-cell style="padding:5px;" *matHeaderCellDef mat-sort-header>
                <h3>Respuesta presupuesto</h3>
            </mat-header-cell>
            <mat-cell style="padding:5px;" *matCellDef="let element"> {{element.respP}} </mat-cell>
        </ng-container>


        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

</div>