<div class="ctn">
    <h1 *ngIf='filtroSelec == "mas" && empleadoSelec == ""'>Servicios más solicitados</h1>
    <h1 *ngIf='filtroSelec == "menos" && empleadoSelec == "" '>Servicios menos solicitados</h1>
    <h1 *ngIf='filtroSelec == "menos" && empleadoSelec != "" '>Servicios menos solicitados a {{empleadoSelec}} </h1>
    <h1 *ngIf='filtroSelec == "mas" && empleadoSelec != "" '>Servicios más solicitados a {{empleadoSelec}} </h1>
    <div class="filtros">
        <div class="select">
            <mat-form-field class="valor">
                <mat-select [(ngModel)]="filtroSelec" placeholder="Frecuencia" class="letra">
                    <mat-option *ngFor="let filtro of filtro" selected="todo" [value]="filtro.value">
                        {{ filtro.viewValue }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="select1">
            <mat-form-field class="valor">
                <mat-select [(ngModel)]="empleadoSelec" placeholder="Empleados" class="letra">
                    <mat-option *ngFor="let emp of empleados" selected="todo" [value]="emp.value">
                        {{ emp.viewValue }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <div *ngIf='filtroSelec == "mas"'>
        <canvas appGraficas tipo="horizontalBar" [datos]="datosMas"></canvas>
    </div>
    <div *ngIf='filtroSelec == "menos"'>
        <canvas appGraficas tipo="horizontalBar" [datos]="datosMenos"></canvas>
    </div>
</div>