<h1 *ngIf='filtroSelec == "presente"'>Citas prestadas este año</h1>
<h1 *ngIf='filtroSelec == "pasado"'>Citas prestadas el año pasado</h1>
<div class="select">
    <mat-form-field class="valor">
        <mat-select [(ngModel)]="filtroSelec" placeholder="Frecuencia" class="letra" (change)="getReporteCita(filtroSelec);">
            <mat-option *ngFor="let filtro of filtro" [value]="filtro.value">
                {{ filtro.viewValue }}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div *ngIf='filtroSelec == "presente"'>
    <canvas appGraficas *ngIf="misDatosCitas.data.datasets.length > 0 && reloadChartCitas" tipo="line" [datos]="misDatosCitas"></canvas>
</div>

<div *ngIf='filtroSelec == "pasado"'>
    <canvas appGraficas *ngIf="misDatosCitas.data.datasets.length > 0 && reloadChartCitas" tipo="line" [datos]="misDatosCitas"></canvas>
</div>