<div class="ctn">
    <!--  <mat-card class="card">!-->
    <h3 class="title">
        Registrar incidencia de un servicio
    </h3>
    <div class="select">
        <mat-form-field class="valor inputs">
            <mat-select placeholder="Seleccione el servicio que tuvo la incidencia">
                <mat-option *ngFor="let filtro of filtro" [value]="filtro.value">
                    {{ filtro.viewValue }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <mat-form-field class="example-full-width inputs">
        <textarea matInput placeholder="Detalle de la incidencia" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad distinctio exercitationem officiis sequi</textarea>
    </mat-form-field>
    <mat-form-field class="example-full-width inputs">
        <input matInput placeholder="Seleccione la hora de la incidencia" value="3:30PM">
    </mat-form-field>
    <div class="btn-fin">
        <button mat-raised-button color="accent" class="c-white btn">Registrar</button>
        <button mat-raised-button color="accent" (click)="onNoClick()" class="btn-white btn">Cancelar</button>
    </div>

    <!--</mat-card>!-->
</div>