<div class="ctn">
    <h3 class="title">
        Nuevo Valor Para La Característica;
    </h3>

    <!--  <texto>!-->
    <mat-form-field class="example-full-width inputs">
        <textarea matInput placeholder="Nombre del Valor:" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5"></textarea>
    </mat-form-field><br>
    <mat-form-field class="example-full-width inputs">
        <input matInput placeholder="Descripción del Valor" >
    </mat-form-field><br>

    <!--  <boton>!-->
    <div class="btn-fin">
        <button mat-raised-button color="accent" class="c-white btn">Guardar</button><pre> </pre>
        <button mat-raised-button color="accent" class="btn-white btn">Cancelar</button>
    </div>
</div>