<h1 *ngIf='filtroSelec == "mejor"'>Mejores calificaciones promedio de los servicios (1 al 5)</h1>
<h1 *ngIf='filtroSelec == "menor"'>Menores calificaciones promedio de los servicios (1 al 5)</h1>
<div class="select">
    <mat-form-field class="valor">
        <mat-select [(ngModel)]="filtroSelec" placeholder="Frecuencia" class="letra" (change)="getReporteCalificacion(filtroSelec)">
            <mat-option *ngFor="let filtro of filtro" [value]="filtro.value">
                {{ filtro.viewValue }}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div *ngIf='filtroSelec == "mejor"'>
    <canvas appGraficas *ngIf="reloadChartCalificacionMas" tipo="horizontalBar" [datos]="datosMejor"></canvas>
</div>

<div *ngIf='filtroSelec == "menor"'>
    <canvas appGraficas *ngIf="reloadChartCalificacionMenos" tipo="horizontalBar" [datos]="datosPeor"></canvas>
</div>