.registro{
position: relative;
top: 40px;
margin-left: 60px;
margin-right: 60px;


}

.titulo {
    padding: 15px;;
    font-size: 18px;
    font-weight: bold;
    color:  black;;
    line-height: 30px;
    margin-left: 69px;

}
