<div class="boton">
  <span class="span1" matTooltip="Listado"><button mat-raised-button routerLink="../"><mat-icon>keyboard_backspace</mat-icon> Volver</button></span>
  </div>
<div style="padding: 30px 30px 30px 60px; max-width: 800px;">
  <h4 style="opacity: 0.5;">Asignar funciones a {{estedeaca.value}}</h4>
  <br>
  <mat-card style="padding: 50px 120px;">
    
    <form class="clase1">
        <mat-form-field>
            <input #estedeaca matInput placeholder="Correo" value="Corina_Smith@gmail.com">
          </mat-form-field>
          <br>
          <mat-form-field>
            <input matInput type="password" placeholder="Contraseña" value="12345">
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder="Rol" value="2">
              <mat-option *ngFor="let rol of roles" [value]="rol.value">
                {{ rol.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
    </form>
    <br>
    <div style="display: flex; cursor: pointer; z-index: 2;" (click)="isChecked()">
      <span>
        Mostrar {{dato[0]}}</span>
      <span style="flex: 1 1 auto;"></span>
      <div style="position: relative;"><span style="background-color:transparent;position: absolute; width: 40px;height: 25px; z-index: 2;"></span><mat-slide-toggle [checked]="dato[1]"></mat-slide-toggle></div>
  </div>
    <br>
    <button mat-raised-button color="accent">Guardar</button>
  </mat-card>
</div>