<div class="ctn">
    <!--<mat-card class="cancelar">!-->
    <h4>Cancelar cita</h4>
    <mat-form-field class="example-full-width inputs">
        <input matInput placeholder="Orden de servicio" value="#1234-567" disabled>
    </mat-form-field>
    <mat-form-field class="example-full-width inputs">
        <input matInput placeholder="Cliente" value="Illyrio Mopatis" disabled>
    </mat-form-field>
    <mat-form-field class="example-full-width inputs">
        <input matInput placeholder="Fecha" value="02 Mar 2018" disabled>
    </mat-form-field>
    <mat-form-field class="example-full-width inputs">
        <input matInput placeholder="Hora de inicio" value="03:30 PM" disabled>
    </mat-form-field>
    <mat-form-field class="example-full-width inputs">
        <input matInput placeholder="Hora de finalización" value="04:30" disabled>
    </mat-form-field>
    <mat-form-field class="example-full-width inputs">
        <input matInput placeholder="Servicios de peluquería" value="Desrizado, Peinado con tenacilla, Secado" disabled>
    </mat-form-field>
    <mat-form-field class="example-full-width inputs">
        <input matInput placeholder="Servicios de maquillaje" value="Maquillaje completo" disabled>
    </mat-form-field>
    <mat-form-field class="example-full-width inputs">
        <input matInput placeholder="Empleados a cargo" value="Jon Connington" disabled>
    </mat-form-field>
    <mat-form-field class="example-full-width inputs">
        <input matInput placeholder="Código de descuento" value="82746-2392" disabled>
    </mat-form-field>
    <mat-slide-toggle>Enviar respuesta de cancelación del cliente</mat-slide-toggle>
    <mat-form-field class="example-full-width inputs">
        <textarea matInput placeholder="Respuesta al cliente" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad distinctio exercitationem officiis sequi</textarea>
    </mat-form-field>
    <mat-checkbox>Confirmo que quiero cancelar esta cita</mat-checkbox><br>
    <button mat-raised-button color="accent" routerLink="/timeline" class="btn-gray btn">Cancelar cita</button>
    <!-- </mat-card>!-->
</div>