<div class="heading-panel">
  <!--Controla el contenido que se despliega en cada tab-->
  <mat-tab-group #grupoTabs (click)="verificarTab(grupoTabs)" (keydown)="verificarTab(grupoTabs)">
    <mat-tab label="Paso 1">
      <!--++++++-->
      <app-crear-servicios></app-crear-servicios>
      <!--++++++-->
    </mat-tab>
    
    <mat-tab label="Paso 2">
      <!--++++++-->
      <!--Si se selecciona este tab, se muestra el perfil, a traves de la variable de control "verTabPerfil"-->
      <app-dato></app-dato>
      <!--++++++-->
    </mat-tab>
    <mat-tab label="Paso 3">
        <!--++++++-->
        <!--Si se selecciona este tab, se muestra el perfil, a traves de la variable de control "verTabPerfil"-->
        <app-parametro></app-parametro>
        <!--++++++-->
      </mat-tab>

  </mat-tab-group>
  
  
  </div>
