<div class="ctn">
    <mat-card class="tarjeta">
        <img mat-card-image src="./assets/img/logo.png" class="im">
        <h3 class="title">
            Iniciar sesión
        </h3>
        <mat-form-field class="full-width inputs">
            <input matInput placeholder="Usuario" autocomplete="off">
        </mat-form-field>
        <mat-form-field class="full-width inputs">
            <input matInput placeholder="Password" type="password" autocomplete="off">
        </mat-form-field>
        <br>
        <button mat-raised-button color="accent" routerLink="/test" class="c-white btn">Iniciar sesión</button>
    </mat-card>
</div>