<div style="padding: 30px 30px 30px 60px; ">
  <h4 style="opacity: 0.5;">Importar empleados y/o insumos</h4>
  <br>
  <!--<div *ngIf="grupoTabs.selectedIndex==1">-->
  <mat-card style="padding: 50px 120px;">
    <input #fileButton1 id="fileInput1" style="display: none;" type='file' (change)="openSnackBar()"> <!--(change)="cambiarImagen($event,favIcon.id)"-->
    <button mat-raised-button color="accent" style="font-size: x-large; padding: 30px; " (click)="fileButton1.click()"><mat-icon>insert_drive_file</mat-icon> Subir imagenes</button>
<br><br><br>
<br>

    <input #fileButton2 id="fileInput2" style="display: none;" type='file' (change)="openSnackBar()"> <!--(change)="cambiarImagen($event,favIcon.id)"-->
    <button mat-raised-button color="accent" style="font-size: x-large; padding: 30px; " (click)="fileButton2.click()"><mat-icon>brush</mat-icon> Subir imagenes</button>
  </mat-card>
<!--</div>-->
</div>



