



.desplegable1{
  margin-right: 700px;
  margin-top: 35px;
  marging-left:600px; 
  position: relative;
  marging-left:1000px;
 
}


.anchodesplegable{
display: flex;

.desplegable2{
flex: 1;

margin-top: 30px;
}

}