<mat-toolbar class="toolbar mat-elevation-z1">
    <div class="left">
        <img src="/assets/img/logo.png" alt="logo" class="logo">
    </div>
    <div class="right">
        <div class="notifications">
            <button mat-icon-button dirBadge="1">
                <mat-icon >notifications</mat-icon>
            </button>
        </div>

        <mat-menu #menu="matMenu">
            <button class="button-info" mat-menu-item disabled>
                <div class="wrapper-info">
                    <div class="img-radius">
                        <img [src]="userInfo.imageUrl" class="img-perfil" alt="perfil">
                    </div>
                    <div class="multi-list">
                        <span class="name"> {{userInfo.fullName}} </span>
                        <span class="color-gray">{{userInfo.email}} </span>
                    </div>
                </div>
            </button>
            <button mat-menu-item>
                <mat-icon>person</mat-icon>
                <span>Mi perfil</span>
            </button>
            <button mat-menu-item>
                <mat-icon>card_travel</mat-icon>
                <span>Mi negocio</span>
            </button>
        </mat-menu>
        <div class="perfil" [matMenuTriggerFor]="menu">
            <span>{{ userInfo.fullName }}</span>
            <div class="img-radius">
                <img [src]="userInfo.imageUrl" class="img-perfil" alt="perfil">
            </div>
        </div>
    </div>
</mat-toolbar>