<div>
  <h4>Sube las imagenes de tu logo y favicon</h4>
  <mat-card style="display: flex; flex-direction: column;">
    
    Logo
    <mat-card class="example-card">
      <img mat-card-image src="/assets/img/favic.png" alt="favicon">
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>

    Favicon
    <mat-card class="example-card">
      <img mat-card-image src="/assets/img/favic.png" alt="favicon">
      <mat-card-actions>
        <button mat-button><mat-icon>backup</mat-icon> Reemplazar</button>
        <button mat-button><mat-icon>delete</mat-icon></button>
      </mat-card-actions>
    </mat-card>

  </mat-card>
</div>