<div class="ctn">
    <!--  <mat-card class="card">!-->
    <h3 class="title">
        Repuesta reclamo
    </h3>
    <div class="select">
        <mat-form-field class="valor inputs">
            <mat-select placeholder="Seleccione el tipo de repuesta ">
                <mat-option *ngFor="let filtro of filtro" [value]="filtro.value">
                    {{ filtro.viewValue }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <!--  <texto>!-->
    <mat-form-field class="example-full-width inputs">
        <textarea matInput placeholder="descripcion de la repuesta" value="" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad distinctio exercitationem officiis sequi</textarea>
    </mat-form-field>

    <!--  <boton>!-->
    <div class="btn-fin">
        <button mat-raised-button color="accent" class="c-white btn">Guardar</button>
        <button mat-raised-button color="accent" class="btn-white btn">Cancelar</button>

    </div>

    <!--</mat-card>!-->
</div>