<div class="example-header">
    <form>
        <div style="position:relative;">
            <input type="text" class="busqueda" placeholder="Buscar por cliente">
            <mat-icon style="position:absolute; margin-left:-30px;top:4px;opacity:0.5;" matSuffix>search</mat-icon>
        </div>
    </form>
</div>
<div class="ctn">

    <!-- <div class="select mat-elevation-z1">
            <mat-form-field class="valor">
                <mat-select placeholder="Empleados" [(ngModel)]="empleadosSeleccionados" multiple>
                    <mat-select-trigger>
                        {{empleadosSeleccionados ? empleadosSeleccionados[0] : ''}}
                        <span *ngIf="empleadosSeleccionados.length > 1">
                                      (+{{empleadosSeleccionados.length - 1}} otros)
                                  </span>
                    </mat-select-trigger>
                    <mat-option color="accent" *ngFor="let empleado of empleados" [value]="empleado">{{empleado}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>-->

    <div class="citas" *ngFor="let detalle of detalles">
        <mat-card class="detalle">
            <div class="contenido">
                <div class="client">
                    <div class="name">
                        <span class="bold">{{detalle.clientName}}</span><span> hizo una solicitud para:</span>
                    </div>
                </div>
                <div class="det">
                    <h4>Servicios: {{detalle.servicios}}</h4>
                    <h4>Empleado: {{detalle.empleado}}</h4>
                </div>
                <div class="btn" (click)="openDialogResponder()">
                    <button mat-button class="sec">DAR RESPUESTA</button>
                </div>
            </div>
            <div class="codigo">
                <mat-icon *ngIf="detalle.icon">{{detalle.iconName}}</mat-icon>
                <h4>{{detalle.codigo}}</h4>
            </div>
        </mat-card>
    </div>
</div>