<h2 mat-dialog-title>Nuevo Rol</h2>

<mat-dialog-content>
  
    <mat-form-field>
        <input matInput [(ngModel)]="nombre" placeholder="Nombre del rol">
    </mat-form-field>
 
</mat-dialog-content>

        <div *ngFor="let item of items">
            <br>
            <mat-checkbox [checked]="item.estatus">{{item.descripcion}}</mat-checkbox>
        </div>

<mat-dialog-actions>
    <button mat-button mat-dialog-close (click)="onNoClick()">Cancelar</button>
    <button mat-raised-button mat-dialog-close color="accent" (click)="closeDialog()">Guardar</button>
</mat-dialog-actions>




<!--EXAMPLE OF THE MODAL DIALOG CONTENT*************************************************
    <h2 mat-dialog-title>Hi {{name}}</h2>

<mat-dialog-content>
  
    <mat-form-field>
        <input matInput [(ngModel)]="animal" placeholder="What's your favorite animal?">
    </mat-form-field>
 
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-button mat-dialog-close (click)="onNoClick()">No Thanks!</button>
    <button mat-button mat-dialog-close (click)="closeDialog()">OK</button>
</mat-dialog-actions>
**************************************************************************************-->