.ctn {
    .color {
        background-color: #FFFFFF;
    }
    .img {
        width: 50%;
        .im {
            width: 30%;
            margin-left: 20px;
        }
    }
    .der {
        .ic {
            margin-bottom: 20px;
            margin-right: 10px;
        }
        .perfil {
            margin-top: 10px;
            border-radius: 50%;
            width: 40px;
            margin-left: 10px;
        }
    }
}