.ctn {
    display: flex;
    .color {
        background-color: #FFFFFF;
    }
    .img {
        width: 80%;
        .im {
            width: 15%;
            margin-left: 20px;
        }
    }
    .der {
        display: flex;
        flex: 0 0 auto;
        flex-direction: row;
        justify-content: flex-end;
        margin-left: 8px;
        padding: 0 9px;
        vertical-align: top;
        i {
            margin-bottom: 0px;
            margin-right: 10px;
            height: 22px;
            width: 22px;
            color: #A5ADBA;
        }
        .perfil {
            margin-top: 10px;
            border-radius: 50%;
            width: 40px;
            margin-left: 10px;
        }
        .perf {
            flex-direction: row;
            a {
                color: #6C798F;
                font-size: 16px;
                line-height: 21px;
                text-decoration: none;
                display: inline-block;
                margin-top: 20px;
                vertical-align: top;
            }
        }
        .notif {
            flex-direction: row;
            margin-top: 20px;
            align-items: center;
        }
        .title {
            margin: 20px 0px;
            font-weight: 600;
            opacity: 0.8;
        }
    }
}

.vertical-menu {
    // width: 255px;
    height: 1188px;
}

.vertical-menu a:hover {
    background-color: #ccc;
    /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
    background-color: #EBECF0;
    /* Add a green color to the "active/current" link */
    color: #FD0087;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
}

a.active i {
    height: 22px;
    width: 22px;
    color: #FD0087;
    font-size: 22px;
    line-height: 22px;
    margin-left: 10px;
    margin-right: 5px;
}

i {
    height: 22px;
    width: 22px;
    color: #6C798F;
    font-size: 22px;
    line-height: 22px;
    margin-left: 10px;
    margin-right: 5px;
}


/* Dropdown container - needed to position the dropdown content */

.dropdown {
    float: left;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
}


/* Style the dropdown button to fit inside the topnav */

.dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: #6C798F;
    background-color: #F7F7F9;
    margin: 0;
}


/* Style the dropdown content (hidden by default) */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}


/* Style the links inside the dropdown */

.dropdown-content a {
    float: none;
    color: #6C798F;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown:hover .dropbtn {
    background-color: #ccc;
    color: #6C798F;
    i {
        color: #FD0087;
    }
}


/* Add a grey background to dropdown links on hover */

.dropdown-content a:hover {
    background-color: #ccc;
    color: #FD0087;
    font-weight: 500;
}


/* Show the dropdown menu when the user moves the mouse over the dropdown button */

.dropdown:hover .dropdown-content {
    display: block;
}