<div class="ctn">
    <mat-toolbar class="color">
        <div class="img">
            <img src="./assets/img/logo.png" class="im">
        </div>
        <div class="der">
            <div class="notif">
                <i class="material-icons ic">notifications</i>
            </div>
            <div class="perf">
                <a href="#">María Pérez</a>


                <img src="./assets/img/perfil.jpg" class="perfil">
            </div>
        </div>
    </mat-toolbar>
</div>
<div class="vertical-menu">
    <!-- <a href="/inicio" class="active"><i class="material-icons">home</i> Inicio</a>
    <div class="dropdown">
        <a class="dropbtn "><i class="material-icons">date_range</i>Control de servicio
          <i class="fa fa-caret-down"></i>
        </a>
        <div class="dropdown-content">
            <a href="#">Agenda</a>
            <a href="#">Timeline</a>
        </div>
    </div><br>
    <a href="#"><i class="material-icons">phone</i>Atención al cliente</a>
    <a href="#"><i class="material-icons">group</i>Usuarios</a>
    <a href="#"><i class="material-icons">build</i>Servicios</a>
    <a href="#"><i class="material-icons">gradient</i>Códigos de descuentos</a>
    <a href="#"><i class="material-icons">receipt</i>Promociones</a>
    <a href="/inicio"><i class="material-icons">home</i>Parámetros</a>
    <a href="#"><i class="material-icons">web_asset</i>Portal Web</a>
    <a href="/inicio"><i class="material-icons">assessment</i>Reportes</a> -->
    <app-nav-list width="255px" [listas]="listas"></app-nav-list>
</div>