<div class="ctn">
    <!--  <mat-card class="card">!-->
    <h3 class="title">
        Nuevo Servicio
    </h3>
    <!--  <selec>!-->
    <div class="select">
        <mat-form-field class="valor inputs">
            <mat-select placeholder="Seleccione el tipo servicio ">
                <mat-option *ngFor="let filtro of filtro" [value]="filtro.value">
                    {{ filtro.viewValue }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <!--  <texto>!-->
    <mat-form-field class="example-full-width inputs">
        <textarea matInput placeholder="Nombre del servicio" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad distinctio exercitationem officiis sequi</textarea>
    </mat-form-field>
    <mat-form-field class="example-full-width inputs">
        <input matInput placeholder="descripcion del servicio" value="trenzado">
    </mat-form-field>

    <mat-form-field class="demo-chip-list inputs">
        <mat-chip-list #chipList>
            <mat-chip *ngFor="let insumo of insumos" [selectable]="selectable" [removable]="removable" (remove)="remove(insumo)">
                {{insumo.name}}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input placeholder="Insumos" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)" />
        </mat-chip-list>
    </mat-form-field>
    <!--  <boton>!-->
    <div class="btn-fin">
        <button mat-raised-button color="accent" class="c-white btn">Guardar</button>
        <button mat-raised-button color="accent" class="btn-white btn">Cancelar</button>
    </div>

    <!--</mat-card>!-->
</div>