<div class="ctn">


    <!-- el buscar -->
    <div class="insumo" mat-grid-list cols="3" rowHeight="60px">
        <div class="search">
            <div class="input-search ">
                <mat-icon>search</mat-icon>
                <mat-form-field class="full-width inputs">
                    <input matInput placeholder="Buscar por insumo" autocomplete="off" type="search">
                </mat-form-field>
            </div>

            <!-- el boton -->
            <div class="boton">
                <button mat-raised-button color="accent" class="btn">Cargar Archivo</button>
            </div>
        </div>

        <div class="example-container">
            <mat-table #table [dataSource]=" dataSource ">

                <!--- Note that these columns can be defined in any order.
                        The actual rendered columns are set as a property on the row definition" -->

                <!-- INSUMO Column -->
                <ng-container matColumnDef="insumo">
                    <mat-header-cell *matHeaderCellDef> Insumo </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.insumo}} </mat-cell>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="cantidad">
                    <mat-header-cell *matHeaderCellDef> Cantidad </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.cantidad}} </mat-cell>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="unidad">
                    <mat-header-cell *matHeaderCellDef> Unidad </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.unidad}} </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
        </div>

    </div>
</div>